<md-button class="md-raised" clipboard text="$ctrl.getURL()">Copy URL</md-button>

<md-button class="md-raised md-primary" ng-click="$ctrl.startCountdown()" ng-hide="$ctrl.countdown.timer">
  Start Countdown
</md-button>

<md-button class="md-raised md-warn" ng-click="$ctrl.stopCountdown()" ng-show="$ctrl.countdown.timer">
  Stop Countdown
</md-button>

<span class="md-display-4">
  <span ng-show="$ctrl.countdown.timer">{{$ctrl.countdown.timer}}</span>
  <span ng-show="$ctrl.showText">GO!</span>
</span>

<md-content layout-padding>
  To use, click "Copy URL" and share it with as many friends as you'd like.
  Everyone loads the video page (Netflix, Hulu, etc), and then somebody 
  starts the countdown. When the page says "GO!", everyone starts the video.
</md-content>